.card {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 2%;
    transition: 0.5s ease-in-out;
}

.card:hover {
    transform: scale(1.2);
}

.card img {
    max-width: 100%;
    height: auto;
  }

  @media (max-width: 930px) and (orientation: landscape){
    .card img {
        height: 100px;
        width: 100px;
    }
    
    .card p {
        font-size: 14px;
    }
}