.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 10%;
    position: relative;
    height: 5vh;
}

.Navbar::after {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 2px;
    background-color: #000;
    content: "";
}

.App-wrapper {
    height: 100vh;
}

.App {
    height: 90vh;
    position: relative;
}

.App::after {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 2px;
    background-color: #000;
    content: "";
}

.dark-mode::after {
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
    transition: 0.5s ease;
}

.dark-mode {
    background: linear-gradient(to bottom, rgb(31, 28, 59), rgb(0, 0, 0));
    color: white;
    transition: 0.5s ease;
}

.dark-mode button {
    background-color: transparent;
    color: white;
}

.dark-mode a {
    color: white;
}

.dark-mode ::after {
    background-color: white;
}

.dark-mode link {
    background-color: white;
}

.dark-mode .buttons a {
    background-color: rgb(68, 63, 114);
    color: white;
}

.dark-mode .link {
    background-color: rgb(68, 63, 114);
    color: white;
}